body {
  background-color: powderblue;
  font-family: Papyrus, fantasy;
}

.content {
    width: 200px;
    height: 600px;
    text-align: center;
    position:absolute;
    top:70%;
    left:50%;
    margin-left:-100px;/* half width*/
    margin-top:-300px;/* half height*/
}

.picture {


  position:absolute;
  width: 512px;
  height: 384px;
  text-align: center;

  margin-left:-1340px;/* half width*/
  margin-top:160px;/* half height*/
  border-radius: 3%;

}

.h1 {

  width: 600px;
  height: 600px;
  text-align: center;
  position:absolute;
  margin-left:29%;/* half width*/
  margin-top:40px;/* half height*/
  color:rgb(235, 140, 150);

}

body {
  margin: 0;
  padding: 0;
}

#bubble-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}